<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div><h4 style= "margin: 0px 0px 10px 0px; margin-left: 85%;"><a href="#forum" ng-show="currentUser.name">Create New Forum</a></h4></div>
<div><h1 style="margin-top: 2em;">{{viewForumm.forumTitle}}</h1>
<!-- <h5>Created by : <b>{{bc.blog.status}}</b> | Created On : <b>{{viewForum.addDate}}</b></h5> -->
<h4>{{viewForumm.forumContent}}</h4></div>
<form ng-submit="fc.createComment(fc.comment)">
<div class="form-group">
<textarea placeholder="Suggestions AccepteD.."
									class="form-control" ng-model="fc.comment.comments"></textarea >
				
			<button type="submit" class="btn btn-lg btn-info">Suggest</button>
</div>
</form>




<div ng-repeat="cv in ct">

<h3>UserName: <span ng-bind="cv.userName"></span></h3>

<!-- <td>{{cv.userName}}</td> -->


<h5>Comment: <span ng-bind="cv.comments"></span></h5>
<hr style="clear: both;" />
</div>


</body>
</html>