<h4 style="float: right; margin: 0px 0px 0px 0px;"><a href="#createBlog">Create New Forum</a></h4>


<div class="row" ng-repeat="for in fc.forums">


  <div class="viewBlog" style="margin-left:2em; white-space: nowrap;">

	<h2><span ng-bind="for.userName"></span></h2>
   <h3 style="margin-left: 0.5em; float: left; color: green;"><span ng-bind="for.forumTitle"></span></h3>

   <a ng-click="blog.edit(u.id)"><span class="glyphicon glyphicon-pencil editContent"></span></a>
   <a  ng-click="blog.remove(u.id)" ><span class="glyphicon glyphicon-trash editContent"></span></a>
   <hr style="clear: both;" />
 

  <div>
  <hr style="margin-top: 3em;">
  <span ng-bind="for.forumContent"></span>...
  <hr style="margin-top: 0em;">
  
  </div>
   <h4><span ng-bind="for.status"></span></h4>
  <div class="desc">
  <!-- <button type="button" ng-click="blog.get(u)" style="float: right;">Read More ></button> -->
  </div>
  <form>

</div>
</form>
 </div>
</div>
